src/main/resources/wsdl/carservice.xsd

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<xs:schema xmlns:tns="http://service.server.kskrebe.eif.viko.lt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.server.kskrebe.eif.viko.lt/">
    <xs:element name="car" type="tns:car"/>
    <xs:element name="getAllCars" type="tns:getAllCars"/>
    <xs:element name="getAllCarsResponse" type="tns:getAllCarsResponse"/>
    <xs:element name="getCarById" type="tns:getCarById"/>
    <xs:element name="getCarByIdResponse" type="tns:getCarByIdResponse"/>
    <xs:element name="part" type="tns:part"/>
    <xs:complexType name="getAllCars">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getAllCarsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="car">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="brand" type="xs:string" minOccurs="0"/>
            <xs:element name="model" type="xs:string" minOccurs="0"/>
            <xs:element name="year" type="xs:int"/>
            <xs:element name="electric" type="xs:boolean"/>
            <xs:element name="category" type="xs:string" minOccurs="0"/>
            <xs:element name="parts" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="part" type="tns:part" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="part">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="price" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCarById">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCarByIdResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:car" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>